@import url("https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,500..900;1,600..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300..1000;1,200..1000&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@import "leaflet/dist/leaflet.css";

* {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-geom: "Geom", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

p  {
  font-family: var(--font-nunito);
} 



a.active {
  background-color: #4361ee;
  color: white;
  font-weight: 700; 
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0 4px 15px rgba(67, 97, 238, 0.4);
  position: relative;
  transition: all 0.3s ease;
}


.card-table {
  border-collapse: separate !important;
  border-spacing: 0 16px !important; 
}

.card-table tr {
  display: table-row;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-base-100: #edf6f9;
  --color-base-200: black;
  --color-base-300: oklch(24% 0 0);
  --color-base-content: oklch(96% 0 0);


  --color-primary: #ffffff;
  --color-primary-hover: oklch(88% 0 0);
  --color-primary-content: oklch(12% 0 0);

  --color-secondary: #edede9;
  --color-secondary-hover: oklch(35% 0.01 250);
  --color-secondary-content: white;

--color-accent: #F4F4F4; 
  --color-accent-hover: oklch(92% 0 0);
  --color-accent-content: #1A1A1A;

  --color-neutral: oklch(30% 0 0);
  --color-neutral-content: black;

  --color-info: oklch(75% 0.12 240);
  --color-success: oklch(70% 0.14 150);
  --color-warning: oklch(85% 0.16 90);
  --color-error: oklch(65% 0.18 30);

  --radius-box: 0.75rem;
  --radius-btn: 0.5rem;
  --border: 1px;
}

@plugin "daisyui/theme" {
  name: "dark";
   default: true;


  --color-base-100: #001219;
  --color-base-200: white;
  --color-base-300: oklch(10% 0 0);
  --color-base-content: oklch(98% 0 0);

  --color-primary: #000000;
  --color-primary-hover: oklch(40% 0 0);
  --color-primary-content: white;


  --color-secondary: rgba(255, 255, 255, 0.1);
  --color-secondary-hover: oklch(30% 0 0);
  --color-secondary-content: white;


  --color-accent: oklch(70% 0 0);
  --color-accent-hover: oklch(75% 0 0);
  --color-accent-content: black;


  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(90% 0 0);

 
  --color-info: oklch(70% 0.1 240);
  --color-success: oklch(65% 0.15 150);
  --color-warning: oklch(80% 0.15 90);
  --color-error: oklch(60% 0.15 30);

  --radius-box: 0.75rem;
  --radius-btn: 0.5rem;
  --border: 1px;
}


