 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 @import "tailwindcss";
 @plugin "daisyui";
@import "leaflet/dist/leaflet.css";

 *{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


@plugin "daisyui/theme" {
name: "bwtheme";
default: true;


--color-base-100: oklch(100% 0 0); 
--color-base-content: oklch(10% 0 0); 


--color-primary: oklch(20% 0.05 240); 
--color-primary-hover: oklch(35% 0.1 240); 
--color-primary-content: oklch(98% 0.01 240); 

--color-secondary: oklch(35% 0.05 240); 
--color-secondary-hover: oklch(50% 0.1 240);
--color-secondary-content: oklch(98% 0.01 240);

--color-accent: oklch(55% 0.1 240); /* subtle accent */
--color-accent-hover: oklch(65% 0.15 240);
--color-accent-content: oklch(10% 0 0);

--color-neutral: oklch(40% 0.05 240); /* neutral surfaces */
--color-neutral-hover: oklch(50% 0.1 240);
--color-neutral-content: oklch(10% 0 0);


--color-info: oklch(70% 0.2 220);
--color-success: oklch(65% 0.25 140);
--color-warning: oklch(80% 0.25 80);
--color-error: oklch(65% 0.3 30);


--radius-box: 0.75rem;
--radius-btn: 0.5rem;
--border: 1px;
}