@import url("https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
@import "tailwindcss";
@plugin "daisyui";
@import "leaflet/dist/leaflet.css";

* {
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

a.active {
  background-color: #edf6f9;
  font-size: bold;
  color: black;
}

/* Add this to your index.css */
/* Custom table fix for DaisyUI */
.card-table {
  border-collapse: separate !important;
  border-spacing: 0 16px !important; /* This creates the vertical "game" between rows */
}

.card-table tr {
  /* This ensures the shadow shows up correctly on the block layout */
  display: table-row;
}

@plugin "daisyui/theme" {
  name: "light";
 

  --color-base-100: #edf6f9;
  --color-base-200: black;
  --color-base-300: oklch(24% 0 0);
  --color-base-content: oklch(96% 0 0);


  --color-primary: #ffffff;
  --color-primary-hover: oklch(88% 0 0);
  --color-primary-content: oklch(12% 0 0);

  --color-secondary: #edede9;
  --color-secondary-hover: oklch(35% 0.01 250);
  --color-secondary-content: white;

--color-accent: #F4F4F4; 
  --color-accent-hover: oklch(92% 0 0);
  --color-accent-content: #1A1A1A;

  --color-neutral: oklch(30% 0 0);
  --color-neutral-content: black;

  --color-info: oklch(75% 0.12 240);
  --color-success: oklch(70% 0.14 150);
  --color-warning: oklch(85% 0.16 90);
  --color-error: oklch(65% 0.18 30);

  --radius-box: 0.75rem;
  --radius-btn: 0.5rem;
  --border: 1px;
}

@plugin "daisyui/theme" {
  name: "dark";
   default: true;


  --color-base-100: black;
  --color-base-200: white;
  --color-base-300: oklch(10% 0 0);
  --color-base-content: oklch(98% 0 0);

  --color-primary: #040404;
  --color-primary-hover: oklch(40% 0 0);
  --color-primary-content: white;


  --color-secondary: white;
  --color-secondary-hover: oklch(30% 0 0);
  --color-secondary-content: white;


  --color-accent: oklch(70% 0 0);
  --color-accent-hover: oklch(75% 0 0);
  --color-accent-content: black;


  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(90% 0 0);

 
  --color-info: oklch(70% 0.1 240);
  --color-success: oklch(65% 0.15 150);
  --color-warning: oklch(80% 0.15 90);
  --color-error: oklch(60% 0.15 30);

  --radius-box: 0.75rem;
  --radius-btn: 0.5rem;
  --border: 1px;
}


/* @plugin "daisyui/theme" {
  name: "light";
 

  --color-base-100: white;
  --color-base-200: oklch(18% 0 0);
  --color-base-300: oklch(24% 0 0);
  --color-base-content: oklch(96% 0 0);


  --color-primary: #b7b7b7;
  --color-primary-hover: oklch(88% 0 0);
  --color-primary-content: oklch(12% 0 0);

  --color-secondary: oklch(25% 0.01 250);
  --color-secondary-hover: oklch(35% 0.01 250);
  --color-secondary-content: white;

--color-accent: #F4F4F4; 
  --color-accent-hover: oklch(92% 0 0);
  --color-accent-content: #1A1A1A;

  --color-neutral: oklch(30% 0 0);
  --color-neutral-content: black;

  --color-info: oklch(75% 0.12 240);
  --color-success: oklch(70% 0.14 150);
  --color-warning: oklch(85% 0.16 90);
  --color-error: oklch(65% 0.18 30);

  --radius-box: 0.75rem;
  --radius-btn: 0.5rem;
  --border: 1px;
}

@plugin "daisyui/theme" {
  name: "dark";
   default: true;


  --color-base-100: black;
  --color-base-200: oklch(12% 0 0);
  --color-base-300: oklch(10% 0 0);
  --color-base-content: oklch(98% 0 0);

  --color-primary: oklch(35% 0 0);
  --color-primary-hover: oklch(40% 0 0);
  --color-primary-content: white;


  --color-secondary: white;
  --color-secondary-hover: oklch(30% 0 0);
  --color-secondary-content: white;


  --color-accent: oklch(70% 0 0);
  --color-accent-hover: oklch(75% 0 0);
  --color-accent-content: black;


  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(90% 0 0);

 
  --color-info: oklch(70% 0.1 240);
  --color-success: oklch(65% 0.15 150);
  --color-warning: oklch(80% 0.15 90);
  --color-error: oklch(60% 0.15 30);

  --radius-box: 0.75rem;
  --radius-btn: 0.5rem;
  --border: 1px;
} */





/* @plugin "daisyui/theme" {
  name: "light";


  --color-base-100: #ffffff;
  --color-base-200: #f4e5ff; 
  --color-base-300: #e9ccff; 
  --color-base-content: #10002b;


  --color-primary: #7b2cbf; 
  --color-primary-hover: #954bd6;
  --color-primary-content: #ffffff;


  --color-secondary: #5a189a; 
  --color-secondary-hover: #7a21d4; 
  --color-secondary-content: #ffffff;


  --color-accent: #c77dff; 
  --color-accent-hover: #d399ff;
  --color-accent-content: #240046; 


  --color-neutral: #3c096c;
  --color-neutral-content: #ffffff;


  --color-info: #8d25ed;   
  --color-success: #9d4edd; 
  --color-warning: #e0aaff; 
  --color-error: #5400e4;  


  --radius-box: 0.75rem;
  --radius-btn: 0.5rem;
  --border: 1px;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;


  --color-base-100: #030008; 
  --color-base-200: #060010; 
  --color-base-300: #090018; 
  --color-base-content: #f9eeff; 


  --color-primary: #7b2cbf; 
  --color-primary-hover: #954bd6; 
  --color-primary-content: #ffffff;

  --color-secondary: #3c096c; 
  --color-secondary-hover: #650fb5;
  --color-secondary-content: #ffffff;

 
  --color-accent: #c77dff; 
  --color-accent-hover: #d399ff; 
  --color-accent-content: #240046; 

  
  --color-neutral: #1e0039;
  --color-neutral-content: #dec6f6;


  --color-info: #8d25ed;
  --color-success: #9d4edd; 
  --color-warning: #e0aaff;
  --color-error: #5400e4; 


  --radius-box: 0.75rem;
  --radius-btn: 0.5rem;
  --border: 1px;
} */
